In [1]:
roll=22052341
print(roll)
name="xyz"
print(name)
is_good=True
print(is_good)
print(type(roll))
print(type(name))
print(type(is_good))

22052341
xyz
True
<class 'int'>
<class 'str'>
<class 'bool'>

In [2]:
input_int=int(input("enter integer:"))
print(input_int)

enter integer:2967
2967

In [3]:
input_int=str(input("enter string:"))
print(input_int)

enter string:hello
hello

In [4]:
input_int=float(input("enter any decimal no.:"))
print(input_int)

enter any decimal no.:5.67
5.67

In [5]:
x=10
if(x>10):
    print("x is greater than 10")
elif(x==10):
    print("x is equal to 10")
else:
    print("x is less than 10")

x is equal to 10

In [6]:
for i in range(2,10,2):
        if(i<8):
            print(i,end=" , ")
        else:
            print(i,end=" ")

2 , 4 , 6 , 8

In [7]:
while(x>0):
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [8]:
n=int(input("enter n:"))
for i in range(2,n+1,2):
            print(i*2,end=" ")

enter n:45
4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88

In [9]:
text="tanisha"
a=text.capitalize()
print(a)
print(text[4])

Tanisha
s

In [23]:
list1=['t','p','n','s','s','q','a',8]
print(list1)

['t', 'p', 'n', 's', 's', 'q', 'a', 8]

In [25]:
str1="abcd efgh ijkl"
lista=str1.split("efgh")
print(lista)

['abcd ', ' ijkl']

In [26]:
x="-".join(lista)
print(x)

abcd - ijkl

In [30]:
tuple1 = (1, 4, 't', 'l', 'f', 'i', 's', 'h', 'g')
tuple1 = tuple1[:1] + ('a',) + tuple1[2:]
print(tuple1)

(1, 'a', 't', 'l', 'f', 'i', 's', 'h', 'g')

In [31]:
def get_name_and_age(n,a):
    name=n
    age=a
    return name,age
tuple2=()
a,b=get_name_and_age("tanisha",19)
print(a,b)

tanisha 19

In [32]:
n=int(input("enter n:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

enter n:4
Factorial of the number is:
24

In [33]:
a=30
b=20
print("Before swapping a :",a)
print("Before swapping b :",b)
a=a+b 
b=a-b
a=a-b
print("After swapping a: ",a)
print("After swapping b: ",b)

Before swapping a : 30
Before swapping b : 20
After swapping a:  20
After swapping b:  30